<!DOCTYPE html>
<html>
    <head>
        <Title> res.render() Help </Title>
    </head>
    <Body>
        <b>This list explains all the following commands</b>
            <br><br>
        <!--Project 1-->
        <b>Create:</b><p>Create a Repository folder with your desired name</p>
            <br>
        <!--Project 2-->
        <b>Check-Out:</b><p>A snapshot to recreate a new copy of that snapshot's project tree</p>
            <br>
        <b>Check-In:</b><p>A snapshot from an existing project tree</p>
            <br>
        <b>List:</b><p>Displays all manifest names and their corosponding labels</p>
            <br>
        <b>Label:</b><p>Allows the user to add custom labels to a manifest file name, they can use this name later whenever they would otherwise need the manifest name</p>
            <br>
        <!--Project 3 Finale-->
        <b>Merge:</b><p>Merge two project tree snapshots (that are based on the same repo, and hence the same development project)</p>
            <br>
        <form method="POST">
        <button type="submit" >Home</button>
        </form>
    </Body>
</html>